extends base.pug



block content 
  h4 Change Title of Video #{video.id}
  form(method="POST", action="")
    input(name="title", placeholder="video Title",value=video.title, required=true)
    input(value="save", type="submit")