extends base

block content 
  if errorMessage 
    span=errorMessage
  form(method="POST")
    input(placeholder="Username" name="username", type="text",required)
    input(placeholder="Password" name="password", type="text",required)
    input(value="Login" type="Submit")
    br
    a(href="/users/github/start") Continue with Github &rarr;
  hr
  div 
    span Don't have an account?
    a(href="/join") Create on now &rarr;
